.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.heading{
    color: #006699;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #006699;
    font-weight: bold;
}

.section-one{
    margin: -10px -10px 0 -10px;
    background-color: #ffff99;
    padding: 0 30px 60px 30px;
}

.content{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 30px;
    color: #000033;
}

#video{
    width: 450px;
    height: 250px;
}

.video-container, .intro{
    flex: 0 1 auto;
}

#signup{
    background-color: #33cccc;
    padding: 20px;
    border-radius: 30px;
    border: 6px groove #ebfafa;
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.section-two{
    margin: 0 -10px;
    background-color: #b3cccc;
    padding: 10px 0;
}

img{
    width: 200px;
    height: auto;
    border: 7px groove #ffffff;
    border-radius: 20px;
}

.info{
    max-width: 200px;
    height: auto;
    flex: 1;
}

.center{
    text-align: center;
}

.section-three{
    background-color: #ffff99;
    height: 300px;
    padding: 20px;
    margin: 0 -10px;
}

.transparent{
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
    width: 40%;
    height: 50%;
    margin: 10px auto;
    padding: 30px;
    padding-bottom: 50px;
}

.right{
    display: block;
    text-align: right;
    font-weight: bold;
    color: #b3b300;
    font-size: 20px;
}

#bee{
    width: 40px;
    height: auto;
    border: none;
}

.section-four{
    background-color: #b3cccc;
    margin: 0 -10px;
    padding: 20px;
}

.box{
    background-color: rgba(51, 153, 102,0.2) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-left: auto;
    padding: 50px;
}

#sign{
    padding: 10px;
    border-radius: 15px;
    background: none;
    border-width: 5px;
}

#picture{
    width: 150px;
    height: auto;
    border: 10px groove rgba(51, 153, 102,0.2);
    border-radius: 100px;
}

#hiddenSection{
    display: none;
    background-color: #55aa77;
    padding: 20px;
    margin: 0 -10px;
}

#moreInfo{
    background: none;
    border: 10px groove rgba(51, 153, 102,0.2);
    border-radius: 20px;
    padding: 10px;
}

.hidden{
    text-decoration: underline;
    color: #660066;
    font-weight: bold;
}

footer{
    background-color: #339966;
    padding: 20px;
    margin: 0 -10px -10px -10px;
}

.copyright{
    text-decoration: underline;
    color: #1f2e2e;
}